{% extends "layouts/base.html" %}

{% block title %} Python Tutorial {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <!--<section class="section-header">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-3">Blank starter page</h1>
                        <p>Hello world!</p>
                    </div>
                </div>
            </div>
        </section>-->

        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">Python Programming Basics</h1>
                        <p class="lead mb-5">This tutorial will contain topics which are required to have basic understanding about python programming.</p>
                        <div class="alert bg-secondary align-items-center" role="alert">
                            <span class="fas fa-info-circle"></span>
                            <a class="fw-bold text-white text-underline ms-1" href="#" target="_blank">See our Documentation</a> for a detailed technical explanation.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->

        <!--End of Title section-->
        <div class="section section-md">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 col-md-6 col-lg-6 mb-5 mb-lg-0">
                        <div class="card shadow">
                            <iframe width="300" height="300" class="card-img-top rounded-top"
                                        src="https://youtube.com/embed/e0ZrpLG27D0"></iframe>
                            <div class="card-body">
                                <span class="h6 icon-tertiary small"><span class="fas fa-book me-2"></span>Python Data Types</span>
                                <h3 class="h5 card-title mt-3">Working with Data Types</h3>
                                <p class="card-text">Python comes with different types that helps us deal with data.
                                    Different types have different attributes, and we will cover a few of those here, including strings, booleans, integers, floats.</p>
                                <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-5 mb-lg-0">
                        <div class="card shadow">
                            <iframe width="300" height="300" class="card-img-top rounded-top"
                                        src="https://youtube.com/embed/3bkil9PPQr4"></iframe>
                            <div class="card-body">
                                <span class="h6 icon-tertiary small"><span class="fas fa-book me-2"></span>Python Variables</span>
                                <h3 class="h5 card-title mt-3">Variables and Assignments</h3>
                                <p class="card-text">Variables and variable assignment is the foundation of working with Python. Knowing how to assign values to variables to interact with them, then you'll be able to handle more complex tasks.</p>
                                <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-12 col-md-6 col-lg-6 mb-5 mb-lg-0">
                        <div class="card shadow">
                            <iframe width="300" height="300" class="card-img-top rounded-top"
                                        src="https://youtube.com/embed/2GFV3u0kLsA"></iframe>
                            <div class="card-body">
                                <span class="h6 icon-tertiary small"><span class="fas fa-book me-2"></span>Python Strings</span>
                                <h3 class="h5 card-title mt-3">Working with Strings</h3>
                                <p class="card-text">Python strings are sequences of characters. Strings are immutable and so cannot be changed after creation.</p>
                                <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-5 mb-lg-0">
                        <div class="card shadow">
                            <iframe width="300" height="300" class="card-img-top rounded-top"
                                        src="https://youtube.com/embed/3bkil9PPQr4"></iframe>
                            <div class="card-body">
                                <span class="h6 icon-tertiary small"><span class="fas fa-book me-2"></span>Python Functions</span>
                                <h3 class="h5 card-title mt-3">We partnered up with Google</h3>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                                    the card's content.</p>
                                <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
